{{ 'star-qualification.css' | asset_url | stylesheet_tag }}

<div class="star-qualification">
  <svg
    width="22"
    height="21"
    viewBox="0 0 22 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M21.8138 8.01404L13.8892 7.50274L10.8984 0L7.90744 7.50274L0 8.01404L6.06691 13.1777L4.07299 21L10.8984 16.6799L17.7237 21L15.7298 13.1777L21.8138 8.01404Z" fill="#FDBF00" />
  </svg>
  <svg
    width="22"
    height="21"
    viewBox="0 0 22 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M21.8138 8.01404L13.8892 7.50274L10.8984 0L7.90744 7.50274L0 8.01404L6.06691 13.1777L4.07299 21L10.8984 16.6799L17.7237 21L15.7298 13.1777L21.8138 8.01404Z" fill="#FDBF00" />
  </svg>
  <svg
    width="22"
    height="21"
    viewBox="0 0 22 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M21.8138 8.01404L13.8892 7.50274L10.8984 0L7.90744 7.50274L0 8.01404L6.06691 13.1777L4.07299 21L10.8984 16.6799L17.7237 21L15.7298 13.1777L21.8138 8.01404Z" fill="#FDBF00" />
  </svg>
  <svg
    width="22"
    height="21"
    viewBox="0 0 22 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M21.8138 8.01404L13.8892 7.50274L10.8984 0L7.90744 7.50274L0 8.01404L6.06691 13.1777L4.07299 21L10.8984 16.6799L17.7237 21L15.7298 13.1777L21.8138 8.01404Z" fill="#FDBF00" />
  </svg>
  <svg
    width="22"
    height="21"
    viewBox="0 0 22 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M21.8138 8.01404L13.8892 7.50274L10.8984 0L7.90744 7.50274L0 8.01404L6.06691 13.1777L4.07299 21L10.8984 16.6799L17.7237 21L15.7298 13.1777L21.8138 8.01404Z" fill="#FDBF00" />
  </svg>
  <p class="star-qualification__number">58</p>
</div>