:root {
  --violet-color: rgba(239, 42, 130, 1);
  --bg-blue: rgba(23, 39, 85, 1);
}

footer {
  background-color: var(--bg-blue);
  margin-top: 20px;
  padding: 41px 0;
  border-top: 20px solid rgba(239, 42, 130, 1);
}

.footer__item-links {
  display: flex;
  gap: 36px;
}

.footer__link{
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 16px;
}

.footer__items {
  display: flex;
  border-top: 1px solid rgba(42, 64, 124, 1);
  padding-top: 69px;
  margin: 0 10px ;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.footer__item-networks {
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 1216px){ 
  footer {
    padding: 80px 0px;
  }

  .footer__items {
   margin: 0 auto;
   max-width: 1180px;
  }

  .footer__items {
    gap: 0;
    justify-content: space-between;
  }
}
