<div class="container">
  <div class="products__container">
    {%  section 'slider-collection' %}
    {%  section 'products' %}        
  </div>

  {% section 'categories' %}
</div>

{% section 'information' %}