<div class="container">
  <div class="products__container">
    {%  section 'slider-collection' %}
    {%  section 'products' %}        
  </div>

  {% section 'categories' %}
</div>

{% section 'information' %}

<div class="container">
  {% section 'popular-products' %}
</div>


{% section 'popular-brands' %}

<div class="container">
  {% section 'collections-featured' %}
</div>

